a.nav-link {
  padding: 4px 16px;
}

a.nav-link:hover {
  background-color: #E9ECEF;
}

a.nav-link:active {
  background-color: #0D6EFD;
  color: #FFF;
}

a.dropdown-toggle.show.nav-link:active {
  color: #FFF;
}